* {
  margin: 0%;
}

.background {
  background-image: url(./background/back.jpg);
  background-size: cover;
  height: 46.95vw;
  width: 100vw;
}

.header {
  background-color: rgb(231, 44, 44);
  height: 200px;
}

.menu {
  margin-left: 30px;
  padding-top: 20px;
}

.men {
  font-family: fantasy;
  font-size: 40px;
  text-decoration: none;
  color: white;
  width: max-content;
  display: block;
  transition: transform 0.2s;
}

.men:hover {
  transform: scale(1.08);
}

.select {
  display: flex;
  justify-content: space-around;
  background-color: rgb(231, 44, 44, 80%);
  margin-top: 30px;
  padding: 30px;
}

.all{
    transition: transform 0.2s;  
}

.all:hover{
    transform: scale(1.09);  
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: sans-serif;
}
